<div class="container" fxLayout="column" fxFlexAlign="center center">

  <mat-toolbar >
    <span class="fill-space"></span>
    <span>Assignment Reminder</span>
    <span class="fill-space"></span>
  </mat-toolbar>
  <form  [formGroup]="form" class="normal-form" >
  <mat-form-field class = "single-input" >
    <mat-label>Email Address</mat-label>
    <input  formControlName="email" matInput placeholder="Email Address">
    <mat-error *ngIf="form.controls['email'].errors?.email"> This field is an email address.</mat-error>
  </mat-form-field>
  </form>

  <app-single-record fxLayout="row wrap" fxFlexAlign="center" *ngFor="let item of listAdd"></app-single-record>


  <div fxLayout="row" fxFlexAlign="end">
    <button mat-stroked-button  type="submit" (click)="addOne()" style="margin-right: 20px">Add</button>
    <button mat-stroked-button  type="submit" (click)="handleSubmit($event)" style="margin-right: 100px">Submit</button>
  </div>

  <!--        <button mat-stroked-button  type="submit" [disabled]="form.invalid" (click)="handleSubmit()" >Submit</button>-->
  <!--        <button mat-stroked-button  type="clear" (click)="form.reset()">Clear</button>-->


</div>
